# coding: utf-8

"""
    Spinnaker API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ReorderPipelinesControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def reorder_pipelines_using_post(self, reorder_pipelines_command, **kwargs):  # noqa: E501
        """Re-order pipelines  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reorder_pipelines_using_post(reorder_pipelines_command, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReorderPipelinesCommand reorder_pipelines_command: reorderPipelinesCommand (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.reorder_pipelines_using_post_with_http_info(reorder_pipelines_command, **kwargs)  # noqa: E501
        else:
            (data) = self.reorder_pipelines_using_post_with_http_info(reorder_pipelines_command, **kwargs)  # noqa: E501
            return data

    def reorder_pipelines_using_post_with_http_info(self, reorder_pipelines_command, **kwargs):  # noqa: E501
        """Re-order pipelines  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reorder_pipelines_using_post_with_http_info(reorder_pipelines_command, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReorderPipelinesCommand reorder_pipelines_command: reorderPipelinesCommand (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['reorder_pipelines_command']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method reorder_pipelines_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'reorder_pipelines_command' is set
        if ('reorder_pipelines_command' not in params or
                params['reorder_pipelines_command'] is None):
            raise ValueError("Missing the required parameter `reorder_pipelines_command` when calling `reorder_pipelines_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'reorder_pipelines_command' in params:
            body_params = params['reorder_pipelines_command']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/actions/pipelines/reorder', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
